
.hor-slide-container{
    display: grid;
    justify-content: left;
    width: inherit;
     height: 700px;
    border: 1px solid rgb(177, 177, 177);
      overflow-y: auto;
      overflow-y: scroll;
      grid-template-columns: 33% 33% 33%  ;
      background-color: #cecece5c;

    }
    
  .slide-container{
    
    width: inherit;
     height: 900px;
     display: grid;
    justify-content: left;
    overflow-y: scroll;
    overflow-y: auto;

    }
    .bar{
      height: 50px;
      font-size: 8mm;
      border: 10px;
  
    }
    .collab{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
     color: #988907c4;
     font-size: 25px;
    }
  
  
    .info{
      text-align: center;
    }
  button{
    font-size: 15px;
  }
  a{
    color: greenyellow
  }